{% extends "_base_page.html" %}


{% block page_title %}Your {{ framework.name }} declaration – Digital Marketplace{% endblock %}


{% block breadcrumb %}
  {%
    with items = [
      {
        "link": "/",
        "label": "Digital Marketplace"
      },
      {
        "link": url_for(".dashboard"),
        "label": "Your account"
      },
      {
        "link": url_for(".framework_dashboard", framework_slug=framework.slug),
        "label": "Apply to " + framework.name
      }
    ]
  %}
    {% include "toolkit/breadcrumb.html" %}
  {% endwith %}
{% endblock %}


{% block main_content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      {% with
        heading = "Your declaration overview",
        smaller = true
      %}
        {% include "toolkit/page-heading.html" %}
      {% endwith %}
    </div>
    <div class="column-two-thirds">
      {% if supplier_framework.declaration.status == "complete" %}
        You can come back and change your answers at any time before&nbsp;{{ framework_dates.framework_close_date }}.
      {% else %}
        {% block make_declaration_button %}{% endblock %}
        You must review or answer all questions and make your declaration 
        before&nbsp;{{ framework_dates.framework_close_date }} to apply to {{ framework.name }}.
      {% endif %}
    </div>
    <div class="column-one-whole">
      {% import "toolkit/summary-table.html" as summary %}
      {% for section_slug, (section, section_errors) in sections_errors.items() %}
        {{ summary.heading(section.name, id=section.slug) }}
        {% if section.editable %}
          {% block edit_link scoped %}{% endblock %}
        {% endif %}
        {% if section.summary_page_description %}
          {{ summary.description(section.summary_page_description) }}
        {% endif %}
        {% call(question) summary.list_table(
          section.questions,
          caption=section.name,
          field_headings=[
            "Question",
            "Answer",
          ],
          field_headings_visible=False
        ) %}
          {% call summary.row(complete=not question.answer_required) %}
            {{ summary.field_name(question.label) }}
            {% if section_errors %}
              {% call summary.field() %}
                <a href="{{ url_for(".edit_service_submission", framework_slug=framework.slug, lot_slug=service_data.lot, service_id=service_id, section_id=section.id, _anchor=question.id) }}">
                  {% if supplier_framework.prefillDeclarationFromFrameworkSlug and section.prefill %}
                    Review answer
                  {% else %}
                    Answers required
                  {% endif %}
                </a>
              {% endcall %}
            {% elif not question.is_empty %}
              {{ summary[question.type](question.value, question.assurance) }}
            {% endif %}
          {% endcall %}
        {% endcall %}
      {% endfor %}
    </div>
    <div class="column-two-thirds">
      {% block make_declaration_button %}{% endblock %}
      <p>
        <a href="{{ url_for(".framework_dashboard", framework_slug=framework.slug) }}">Return to application</a>
      </p>
    </div>
  </div>
{% endblock %}


{% block make_declaration_button %}
  {% if validates %}
    <form method="POST" action="">
      {%
        with
        advice = true,
        type = "save",
        label = "Make declaration"
      %}
        {% include "toolkit/button.html" %}
      {% endwith %}
    </form>
  {% endif %}
{% endblock %}


{% block before_sections %}
<div class="column-one-third align-with-heading">
  <p class='last-edited hint'>
    Last edited:
    {{ last_edit.createdAt|datetimeformat }}
    by {{ last_edit.userName }}
  </p>
  {% if framework.status == 'open' %}
    {% if not lot.oneServiceLimit and (unanswered_required or unanswered_optional) %}
      <p class="last-edited">
        {{ submission.multiline_string(
          submission.unanswered_required_text(unanswered_required, unanswered_optional),
          submission.unanswered_optional_text(unanswered_required, unanswered_optional)
        ) }}
      </p>
    {% endif %}
    {% if service_data.status == 'submitted' and declaration_status == 'complete' %}
      <span class="service-status-published">This service is marked as complete and will be submitted at {{ dates.framework_close_date }}</span>
    {% endif %}
    {% if service_data.status == 'not-submitted' and can_mark_complete and framework.status == 'open' %}
      {% include "partials/complete_service.html" %}
    {% endif %}
  {% elif framework.status == 'pending' %}
    {% if unanswered_required or unanswered_optional %}
      <p class="last-edited">
        {{ submission.multiline_string(
          submission.unanswered_required_text(unanswered_required, unanswered_optional),
          submission.unanswered_optional_text(unanswered_required, unanswered_optional)
        ) }}
      </p>
    {% endif %}
  {% endif %}
  {% if service_data.status == 'not-submitted' and not can_mark_complete and framework.status == 'open' %}
  <p>
    Once you’ve entered all the required information, you can mark the service as complete.
  </p>
  {% endif %}
</div>
{% endblock %}
